* {
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(224, 90, 117);
    font-family: 'Press Start 2P';
}
.title {
    margin-top: 80px;
    
}
.instructions-title {
    opacity: initial;
    padding: 20px 10px 20px;
} 
.container {
    text-align: center;
}
.parent-image {
    position: relative;
    top: 0;
    left: 0;
    width: 1000px;
    height: 1000px; 
}
#foodbtn {
    border-radius: 25%;
    height: 40px;
    width: 134px;
    padding: 13px 13px 12px;
    color:rgb(228, 184, 191);
}
#medsbtn {
    border-radius: 25%;
    height: 40px;
    width: 134px;
    padding: 13px 13px 12px;
    color:rgb(228, 184, 191);
}
#lovebtn {
    border-radius: 25%;
    height: 40px;
    width: 134px;
    padding: 13px 13px 12px;
    color:rgb(228, 184, 191);
} 
#time-health-happy{
    list-style-type:none;
    bottom:0 ;
    top:0 ;
    right:0;
}
.social {
    list-style-type:none;  
    bottom:0 ;
    left: 0;
}